@import "tailwindcss";

:root {
  --color-primary: #00ffb7;
  --color-secondary: #1d1d1d;
  --color-background: #ffffff;
  --color-foreground: #222222;
}

.dark {
  --color-primary: #00ffb7;
  --color-secondary: #222222;
  --color-background: #0a0a0a;
  --color-foreground: #ffffff;
}

body {
  background-color: var(--color-background);
  background-image: url('/bg-texture.svg');
  background-repeat: repeat;
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html,
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}